<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HJCS.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="HJCS.Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HJCS.Infrastructure.Properties.Settings>
            <setting name="ClientsSourceUrl" serializeAs="String">
                <value>http://www.mocky.io/v2/5808862710000087232b75ac</value>
            </setting>
            <setting name="PoliciesSourceUrl" serializeAs="String">
                <value>http://www.mocky.io/v2/580891a4100000e8242b75c5</value>
            </setting>
        </HJCS.Infrastructure.Properties.Settings>
        <HJCS.Repository.Properties.Settings>
            <setting name="ClientSourceUrl" serializeAs="String">
                <value>http://www.mocky.io/v2/5808862710000087232b75ac</value>
            </setting>
            <setting name="PoliciesSourceUrl" serializeAs="String">
                <value>http://www.mocky.io/v2/580891a4100000e8242b75c5</value>
            </setting>
        </HJCS.Repository.Properties.Settings>
    </applicationSettings>
</configuration>